.homepage {
  text-align: center;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


.carousel {
  margin-top: 20px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.carousel-caption h1 {
  color: #fff;
  font-size: 24px;
}

.main-content {
  padding: 20px;
}


.slide-container {
  position: relative;
  text-align: center;
}

.carousel {
  background-color: #000; /* Set the background color to match your design */
}

.carousel-item {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000; /* Set the desired color for the buttons */
}

.carousel-indicators .active {
  background-color: #fff; /* Set the desired color for the active button */
}

select {
  height: 100%;
  width: 100%;
  border-radius: 24px;
  background-color: #edf3f4;
  border: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 20px;
}

section {
  background-color: #edf3f4;
  padding-bottom: 2rem;
}

.button-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1px;
  width: 20px;
  background-color: #000;
  margin: 0 0.5rem;
}
.custom-button {
  height: 50px;
  width: 100px;
  border-radius: 24px;
  background-color: #edf3f4;
  font-size: 12px;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px; /* Added padding */
}

.curvy {
    border-radius: 24px;
    border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

}

.cart-icon {
  font-size: 20px; /* Adjust the icon size as needed */
  margin-right: 5px; /* Add some spacing between the icon and text */
}

.info-icon {
  font-size: 20px; /* Adjust the icon size as needed */
  margin-right: 5px; /* Add some spacing between the icon and text */
}

.image-section {
  position: relative;
  background-image: url("https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop");
  justify-content: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
  background-size: cover;
  background-position: center;
  height: 400px; /* Set the desired height */
  display: flex;
  align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Set the desired opacity */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center;
    color: #fff;
    padding: 50px;
  }
  
  .content h1 {
    font-size: 32px;
  }
  
  .content p {
    font-size: 18px;
  }



.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.slide-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity value as desired */
}

.slide-content .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 26px;
  background-color: #2f2b35;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
}

.slide-content .btn:hover {
  background-color: #606060;
}

@media (max-width: 768px) {
  .slide-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
  }
}

.slide-content h1 {
  font-size: 27px;
  margin: 0;
  font-family: "PT Serif", serif;
  font-style: italic;
}

.slide-content .btn {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .slide-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
